/* Style dla klas dla strony "O Nas*/

.container-o-nas{
    display: flex; 
    background-color: wheat;
    color: black ;
    width: 70%;
    margin: auto;
    font-size: 15px;
    flex-wrap: wrap;
    height: 100vh;
    row-gap: 20px;
}


.container-o-nas-sekcja{
    background-color:white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* Style dla efektow*/

.container-o-nas-sekcja:hover{
    transform: scale(1.15) translateZ(0);
    background-size: 260px;
}

.container-o-nas:hover{
    
}

.container-o-nas:hover > .container-o-nas-sekcja:not(:hover){
    transform: scale(0.9);
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}





