
/* Style dla strony II*/

.container-strona2-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.6vh;
    align-items: center;
}

.container-strona2-title > p{
    font-size:7.73vh;
    color: rgb(127, 43, 57);
    font-weight: 700;
    margin: 2.6vh;
}

.container-strona2{
    background-color: white;
    width: 80%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.container-strona2-img{
    display: flex;
    padding-top: 8%;
    justify-content: space-evenly;
    align-items: center;
}

.container-strona2-each-img{
    display: flex;
    width: 25.7vw;
    height: 31vh;
    background-color: rgb(127, 43, 57);
    justify-content: center;
    border-radius: 2.6vh;
}

.img-strona2{
    display: block;
    height: 95%;
    width: 85%;
    border-radius: 25px;
    margin-top: -3.6vh;
}

/* Style których będe uzywal zeby zrobic efekt obracania sie */

.container-strona2-obrot{
    background-color: transparent;
    width: 14vw;
    height: 31vh;
    perspective: 104vh;

}

.container-strona2-obrot-wnetrze{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.container-strona2-obrot:hover .container-strona2-obrot-wnetrze{
    transform: rotateY(180deg);
}

.container-strona2-each-img, .container-strona2-tyl{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.container-strona2-tyl{
    font-size:2.06vh;
    font-weight: bold;
    background-color: rgb(127, 43, 57);
    color: wheat;
    transform: rotateY(180deg);
}

.container-strona2-tyl > a{
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
    font-size: 5.12vh;
}



