/* Style dla strony II*/

.container-strona1-title{ 
    background-image: url(../Obrazy/tlo.jpg);
    background-color: rgba(200,100,0,.5);
    background-blend-mode: multiply;
    display: flex;
    width:100%;
    height: 450px;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    animation: sliding 120s infinite;
}

@keyframes sliding{
    from{
        background-position: left;
    }
    to{
        background-position: right;
    }
}

.container-strona1-title > p{
    font-size:50px;
    color: white;
    font-weight: 900;
    opacity: 0;
    transform: translateY(100px);   
    transition: opacity 0.5s ease-in-out 0.5s, transform 0.5s ease-in-out 0.6s;
}

.container-strona1{
    display: flex;
    justify-content: center;
    background-color: aqua;
    height: 100vh;
}

/* Style dla zdjęć, żeby zfocusowane się rozszerzaly*/

.container-strona1-img{
    padding-top: 150px;
    width: 80%;
    display:flex;
    height: 20rem;
    gap: 1rem;
}

.container-strona1-img > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 1.5s cubic-bezier(.25,.4,.45,1.4);
}

.container-strona1-img >div:hover{
    flex: 5;
}
