/* Style dla klas dla strony "O Nas*/

.container-o-nas{
    display: flex; 
    background-color: wheat;
    color: black ;
    width: 70%;
    margin: auto;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    row-gap: 20px;
}


.container-o-nas-sekcja{
    background-color:white;
    width: 30%;
    transition: all 0.5 ease;
}

.container-o-nas-sekcja > h1{
    font-size: 35px;
    text-align: center;
    margin: auto;
}

/* Style dla efektow */


.container-o-nas-sekcja.active{
    transform: scale(1.15) translateZ(0);
}

.container-o-nas-sekcja.inactive{
    transform: scale(0.9);
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}



