/* Style dla klas dla strony "O Nas*/

.container-o-nas{
    background-color: wheat;
    color: blue;
    height: 100vh;
    width: 80%;
    margin: auto;
}

.container-o-nas-title{
    font-size: 75px;
    display: block;
    padding: 15%;
    padding-top: 8%;
    padding-bottom: 0;
}

.container-p-o-nas{
    display: flex; 
    padding-top: 30px;  
    font-size: 15px; 
}

.p-o-nas-2{
    display: inline-block;
    word-wrap: break-word;
    width: 30%;
    margin-left: 15%;
}