
/* Style osobiscie dla znaczników*/

body{
    background-color: white;
    margin: 0;
}

/* Style dla klas ogólnych
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
*/

.main-container{
    background-color: white;
}


/* Style  dla klas dla strony początkowej*/

.title-img-container{
    height: 100vh;
    width: 100%;
}

.title-page-img{
    height: 100%;
    width: 100%;
}





