/* Style dla klas dla strony "O Nas*/

.container-o-nas{
    background-color: wheat;
    color: blue;
    width: 65%;
    margin: auto;
}

.container-o-nas-title{
    font-size: 75px;
    display: block;
    padding: 15%;
    padding-top: 8%;
    padding-bottom: 0;
}

.container-p-o-nas{
    display: flex; 
    padding-top: 30px;  
    margin: auto;
    font-size: 15px;
    flex-direction: column; 
}

.p-o-nas-2{
    display: inline-block;
    word-wrap: break-word;
    width: 30%;
    margin-left: 15%;
}

.container-o-nas-img{
    width: 30%;
}

.container-o-nas-sub-title{
    color: black;
    display: block;
    margin-left: 15%;
    margin-top:15px;
    font-size: 45px;
}

.hr-o-nas{
    width: 50%;
}