
/* Style dla strony I*/

.container-strona1-title{ 
    background-image: url(../Obrazy/tlo.jpg);
    display: flex;
    width:100%;
    height: 350px;
    justify-content:center;
    text-align: center;
    flex-direction: column;
}

.container-strona1-title > p{
    font-size:50px;
    color: white;
    filter: brightness(1);
    font-weight: 900;
}

p{
    display: block;
}

.container-strona1{
    height: 100vh;
    background-color: white;
}

.container-strona1-img{
    display: flex;
    padding-top: 15%;
    justify-content: space-evenly;
    align-items: center;
}

.container-strona1-each-img{
    display: flex;
    width: 250px;
    height: 300px;
    background-color: aqua;
    justify-content: center;
    border-radius: 25px;
}

.img-strona1{
    display: block;
    height: 95%;
    width: 85%;
    border-radius: 25px;
    margin-top: -35px;
}

/* Style których będe uzywal zeby zrobic efekt obracania sie */

.container-strona1-obrot{
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;

}

.container-strona1-obrot-wnetrze{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.container-strona1-obrot:hover .container-strona1-obrot-wnetrze{
    transform: rotateY(180deg);
}

.container-strona1-each-img, .container-strona1-tyl{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.container-strona1-tyl{
    display: flex;
    align-items: center;
    font-size:20px;
    font-weight: bold;
    background-color: aqua;
    justify-content: center;
    color: white;
    transform: rotateY(180deg);
}

.container-strona1-tyl > a{
    color: white;
    font-weight: bold;
    font-size:40px;
}



