
/* Style dla strony II*/

.container-strona2-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    align-items: center;
}

.container-strona2-title > p{
    font-size:75px;
    color: pink;
    font-weight: 900;
    margin: 25px;
}

.container-strona2{
    background-color: white;
    width: 80%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.container-strona2-img{
    display: flex;
    padding-top: 8%;
    justify-content: space-evenly;
    align-items: center;
}

.container-strona2-each-img{
    display: flex;
    width: 250px;
    height: 300px;
    background-color: aqua;
    justify-content: center;
    border-radius: 25px;
}

.img-strona2{
    display: block;
    height: 95%;
    width: 85%;
    border-radius: 25px;
    margin-top: -35px;
}

/* Style których będe uzywal zeby zrobic efekt obracania sie */

.container-strona2-obrot{
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;

}

.container-strona2-obrot-wnetrze{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.container-strona2-obrot:hover .container-strona2-obrot-wnetrze{
    transform: rotateY(180deg);
}

.container-strona2-each-img, .container-strona2-tyl{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.container-strona2-tyl{
    display: flex;
    align-items: center;
    font-size:20px;
    font-weight: bold;
    background-color: aqua;
    justify-content: center;
    color: white;
    transform: rotateY(180deg);
}

.container-strona2-tyl > a{
    color: white;
    font-weight: bold;
    font-size:40px;
}



