
/* Style osobiscie dla znaczników*/

body{
    background-color: white;
}

hr{
    margin-left: 15%;
    margin-right: 15%;
    display: block;
}

/* Style dla klas ogólnych
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
*/

.main-container{
    background-color: red;
}

.interlude{
    height: 90px;
}

/* Style  dla klas dla strony początkowej*/

.title-img-container{
    height: 88vh;
    width: 100%;
}

.title-page-img{
    height: 100%;
    width: 100%;
}





