
/* Style osobiscie dla znaczników*/

body{
    background-color: lightgrey;
    margin: auto;
}

/* Menu górne*/

header{
    display: flex;
    background-color: lightblue;
    position: fixed;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 9999;
}

/*Głownie chodzi tutaj o hiperlinki w menu górnym */ 
a{
    margin: 35px;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

hr{
    margin-left: 15%;
    margin-right: 15%;
    display: block;
}
/* Style osobiscie dla klas*/

/* Style dla klas ogólnych
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
*/


.main-container{
    width: 70%;

}

.container{
    height: 100%;
    background-color:red;
}

.interlude{
    height: 90px;
}

/* Style  dla klas dla strony początkowej*/

.title-img-container{
    height: 88vh;
    width: 100%;
}

.title-page-img{
    height: 100%;
    width: 100%;
}

/* Style dla strony II*/

.container-strona2{
    width: 1200px;
    background-color: white;
}


/* Style dla klas dla strony "O Nas*/

.container-o-nas{
    background-color: green;
    color: white;
    height: 100vh;
}

.container-o-nas-title{
    font-size: 100px;
    display: block;
    padding: 15%;
    padding-top: 8%;
    padding-bottom: 0;
    width: 100%;

}
.container-p-o-nas{
    display: flex; 
    padding-top: 30px;   
}

.p-o-nas-2{
    display: inline-block;
    word-wrap: break-word;
    width: 30%;
    margin-left: 15%;
}

/* Style dla strony I*/

.container-strona1-title{
    font-size: 100px;
    display: block;
    padding: 15%;
    padding-top: 8%;
    padding-bottom: 0;
    width: 100%;
}

.container-strona1{
    height: 100vh;
    background-image: url(../Obrazy/tlo.jpg);
    background-color:wheat;
}

.container-strona1-img{
    display: flex;
    margin-top: 140px;
    justify-content: space-evenly;
    align-items: center;
}

.container-strona1-each-img{
    display: flex;
    width: 250px;
    height: 300px;
    background-color: aqua;
    justify-content: center;
    border-radius: 25px;
}

.img-strona1{
    display: block;
    height: 95%;
    width: 85%;
    border-radius: 25px;
    margin-top: -35px;
}

/* Wciąż dla strony I !*/
/* Style których będe uzywal zeby zrobic efekt obracania sie */

.container-strona1-obrot{
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;

}

.container-strona1-obrot-wnetrze{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.container-strona1-obrot:hover .container-strona1-obrot-wnetrze{
    transform: rotateY(180deg);
}

.container-strona1-each-img, .container-strona1-tyl{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.container-strona1-tyl{
    display: flex;
    align-items: center;
    font-size:20px;
    font-weight: bold;
    background-color: aqua;
    justify-content: center;
    color: white;
    transform: rotateY(180deg);
}

.container-strona1-tyl > a{
    color: white;
    font-weight: bold;
    font-size:40px;
}


