
.container-strona-kontakt{
    height: 110vh;
    margin-top: 32vh;

    background-image: url(../Obrazy/tlo2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container-strona-kontakt-title{
    font-size:12vh;
    color: white;
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
}

.container-strona-kontakt-sekcja{
    display: flex;
    height: 60%;
    justify-content: flex-start;
    margin-bottom: 17vh;
    width: 50%;
}

.container-strona-kontakt-sekcja-mapa{
    border:0;
    width: 80%;
    height: 100%;
}

.container-strona-kontakt-sekcja-info{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 60%;
    margin-bottom: 17vh;
    width: 50%;
    color: white;
}


.container-strona-kontakt-sekcja-info-title{
    font-size:55px;
    text-align: right;
    padding-right: 10.5vw;
    margin: 0;
    width: 100%;
}

.container-strona-kontakt-sekcja-info-content{
    color:white;
    width: 100%;    
    margin: 0;
    margin-top: -10vw;
    margin-left: 11.5vw;
    margin-right: 4vw;
    font-size: 2.8vh;
}