/* Style dla klas dla strony "O Nas*/

.container-o-nas{
    display: flex; 
    background-color: white;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
}


.container-o-nas-sekcja{
    background-color:white;
    width: 30%;
    margin-top: 9%;
    transition: all 0.5 ease;
}

.sekcja-gora{
    margin-top:0;
}

.container-o-nas-sekcja > h1{
    font-size: 55px;
    text-align: center;
    color: lightpink;
}

.container-o-nas-sekcja > p{
    text-align: center;
    word-wrap: break-word;
    margin: 4%;
    margin-top: 15%;
    font-size: 20px;
}


.container-o-nas-sekcja-img{
    margin-top: 9%;
    width: 33%;
    height: 275px;
    background-size: cover;
    background-position: center center;
}

#img-o-nas-dol{
    margin-top:5%;
    width: 30%;
    height: 500px;
    margin-bottom:50px;
}

#img-o-nas-lewo{
    transform: translateX(4%);
}

#img-o-nas-prawo{
    transform: translateX(-4%);

}

/* Style dla efektow */


.container-o-nas-sekcja.active{
    transform: scale(1.05) translateZ(0);
}

.container-o-nas-sekcja.inactive{
    transform: scale(0.9);
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}



