/* Style dla klas dla strony "O Nas*/

.container-o-nas{
    display: flex; 
    background-color: white;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2.06vh;
    column-gap: 1.04vw;
}


.container-o-nas-sekcja{
    background-color:white;
    width: 30%;
    margin-top: 9%;
    transition: 0.5 all ease;
}

.sekcja-gora{
    margin-top:0;
}

.container-o-nas-sekcja > h1{
    font-size: 5.6vh;
    text-align: center;
    color: rgb(253, 90, 117);
}

.container-o-nas-sekcja > p{
    text-align: center;
    word-wrap: break-word;
    margin: 4%;
    margin-top: 15%;
    font-size: 2.3vh;
}


.container-o-nas-sekcja-img{
    margin-top: 9%;
    width: 33%;
    height: 28.3vh;
    background-size: cover;
    background-position: center center;
}

#img-o-nas-dol{
    margin-top:5%;
    width: 30%;
    height: 51.5vh;
    margin-bottom:5.05vh;
}

#img-o-nas-lewo{
    transform: translateX(4%);
}

#img-o-nas-prawo{
    transform: translateX(-4%);

}

/* Style dla efektow */


.container-o-nas-sekcja.active{
    transform: scale(1.15) translateZ(0);
    z-index: 9995;
}

.container-o-nas-sekcja.inactive{
    transform: scale(0.9);
    filter: brightness(0.9) saturate(0) contrast(1.2) blur(2px);
}



