
/* Style osobiscie dla znaczników*/

body{
    background-color: white;
    margin: 0;
}

.main-container{
    background-color: white;
}


/* Style  dla klas dla strony początkowej*/

.title-img-container{
    display: none;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    animation-duration: 2s;
}





